* {
  box-sizing: border-box;
  color: #111;
}

html {
  font-size: 16px;
}

body {
  background-color: #ad343e;
  margin: 0;
  background-image: radial-gradient(#ececec 1px, #ad343e 1px);
  background-size: 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: #f3f3f3;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px rgb(0 0 0/21%);
}

header a {
  color: #ad343e;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.search-area {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  margin: 0 auto;
}

.search-area form {
  background-color: #e6c521;
  width: 23rem;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  border: 3px solid #d8dee6;
  border-radius: 5px;
}

.search-area label {
  display: block;
}

.search-area input,
.search-area select {
  margin-bottom: 1.9rem;
  font-size: 1.2rem;
  height: 1.9rem;
  width: 20rem;
}

.search-area button,
.watch-area button,
#modal button {
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  color: white;
  font-size: 1.1rem;
  background-color: #ad343e;
  border: #111 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.search-area input[type="checkbox"] {
  width: unset;
  height: unset;
}

.search-result {
  background-color: #f3f3f3;
  margin: 1.5rem 0;
  border-radius: 9px;
}

.video-container {
  width: 100%;
  display: flex;
  padding: 25px 15px;
  overflow: hidden;
  border-bottom: #d8dee6 2px solid;
  text-decoration: none;
}

.video-image {
  margin: 0 20px 0 10px;
}

.video-info {
  width: 80%;
  height: 100px;
}

.video-info h3 {
  font-weight: 600;
  margin: 0;
}

.video-info h4 {
  font-weight: 500;
}

.video-info p {
  color: grey;
}

.watch-area {
  background-color: #ececec;
  width: 1100px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 9px;
  margin-bottom: 1.5rem;
}

.player {
  text-align: center;
}

.watch-area .video-stats {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.watch-area .channel-name {
  text-align: center;
  font-weight: 500;
}

.watch-area h1 {
  text-align: center;
  color: #ad343e;
  font-size: 1.5rem;
  margin: 5px 0;
}

#modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

#modal .btn-green {
  background-color: green;
}

#modal .buttons button {
  display: inline-block;
  margin: 0.5rem;
}

.loader {
  text-align: center;
}

.loader {
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 8px solid #e6c521;
  border-radius: 50%;
  border-top: 8px solid #ececec;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
